body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px black;
}

h1 {
    color: #333;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.option-btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    background-color: green;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option-btn:hover {
    background-color: white;
}
